openai
gradio
sentence-transformers
chromadb
click
arize-phoenix
openinference-instrumentation-openai
opentelemetry-sdk
opentelemetry-exporter-otlp
ragas
langchain-openai
datasets
rank_bm25
pymorphy3
pymorphy3-dicts-ru
